body {
  background: linear-gradient(to right, #9E1C60, #F5AD18);
  /* background-color: #222; */
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;

}
h4{
    font-size: 35px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.countdown-box {
  /* background: white; */
  padding: 20px;
  border-radius: 15px;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
  box-shadow: 0 0 20px #F5AD18;
  background-color: #222;
  color: aliceblue;
  /* width: 300px; */
  width: 30%;
  margin: auto;
}
input{
    padding: 12px;
    border-radius: 10px;
    width: 70%;
    font-size: 17px;
    border: none;
}
button{
    padding: 10px;
    width: 120px;
    height: 45px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 23px;
    border: none;
    background:linear-gradient(to right, #9E1C60, #F5AD18) ;
    /* background-color: #9E1C60; */
    transition: 0.3s;
}
button:hover{
    /* background-color:white; */
    background: linear-gradient(to right, #F5AD18 ,  #9E1C60);
    cursor: pointer;
    transform: scale(1.1);
}
#result {
  font-size: 2em;
  /* color: #333; */
color:white;
  margin-top: 15px;
}
@media (max-width:400px) {
    .countdown-box{
        width: 75%;
        /* padding-top: 10px; */
        height: 380px;
        padding: 0;
        padding-bottom: 0;
        padding-top: 10px;
    }
    h4{
        /* padding-bottom: 0; */
        margin-bottom: 20;
        margin-top: 20px;
    }
    #result{
        margin-bottom: 0;
        margin-top: 0;
    }
    #timer{
        margin-bottom: 0;
        padding-bottom: 0;
    }
}